# EditorConfig is awesome: https://EditorConfig.org

# This is the top-most EditorConfig file for this project.
root = true

[*]
charset = utf-8

# Use Unix-style newlines everywhere.
end_of_line = lf

insert_final_newline = true
trim_trailing_whitespace = true
